@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@font-face {
	font-family: 'SpaceMono';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/SpaceMono-Regular.ttf');
}

html {
	font-family: SpaceMono;
	@apply bg-slate-900 text-neutral-200;
}

.debug {
	@apply border-2 border-red-500;
}

@theme {
	--color-php: #777bb4 --color-react: #61dafb --color-laravel: #ff2d20 --color-nodejs: #5fa04e
		--color-vue: #4fc08d --color-postgre: #4169e1 --color-figma: #f24e1e --color-wordpress: #21759b
		--color-symfony: #000000 --color-tailwind: #06b6d4 --color-linux: #fcc624
		--color-javascript: #f7df1e --color-typescript: #3178c6;
}
